/* body {
  background-color: thistle;
} */

* {
  border: 1px solid gold;
}

html, body {
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
  font-family: Helvetica, arial, sans-serif;
  margin: 10px auto 0;
}

#main {
  display: flex;
  height: 100%;
  margin: 0;
  background-color: thistle;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

#game-board {
  display: flex;
  width: 80%;
  height: 90%;
  background-color: lemonchiffon;
  flex-flow: row wrap;
  /* align-items: center; */
  max-width: 500px;
  min-width: 400px;
}

#aside {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 90%;
  background-color: oldlace;
  max-width: 100px;
  min-width: 80px;
}

#controls{
  height: 10%;
}

#player-aside, #player2-aside {
  flex-grow: 1;
}

.square {
  width: 19%;
  /* height: 20%; */
  flex-grow: 1;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

.player {
  /* flex-shrink: 0.1; */
  /* height: 100%; */
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
}
